.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.asd {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 6px grey;
    border-radius: 2px;
    position: relative;
}

.width {
    width: 100%;
}

.mobile {
    display: none;
}

@media screen and (max-width: 600px) {
    .mobile {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    .asd {
        margin-top: 50px;
    }

    .desktop {
        display: none;
    }
}