<div class="box-shadow {{open ? 'asd' : 'asd2'}}">
    <div class="shadow full">
        <div (click)="toggle()" class="burgerBtn">
            <img class="menu-icon" src="https://cdn-icons-png.flaticon.com/512/5629/5629505.png">
        </div>
        <div class="link" routerLink="">
            <img class="ava"  [src]="user.img ? user.img : user.sex ? 'https://cdn-icons-png.flaticon.com/512/6011/6011702.png' : 'https://cdn-icons-png.flaticon.com/512/9307/9307808.png'" />                 
            <div class="menu-title {{open ? '' : 'none'}}">{{user.fullName}}</div>
        </div>
        <div class="link" routerLink="news">
            <img class="menu-icon" src="https://cdn-icons-png.flaticon.com/512/432/432539.png">
            <div class="menu-title {{open ? '' : 'none'}}">{{loading ? 'News' : ''}}</div>
        </div>
        <div class="link" routerLink="friends">
            <img class="menu-icon" src="https://cdn-icons-png.flaticon.com/512/432/432428.png">
            <div class="menu-title {{open ? '' : 'none'}}">{{loading ? 'Friends' : ''}}</div>
        </div>
        <div class="link" routerLink="events">
            <img class="menu-icon" src="https://cdn-icons-png.flaticon.com/512/432/432398.png">
            <div class="menu-title {{open ? '' : 'none'}}">{{loading ? 'Events' : ''}}</div>
        </div>
    </div>
    <div class="link end" (click)="logOut()" >
        <img class="menu-icon" src="https://cdn-icons-png.flaticon.com/512/505/505027.png">
        <div class="menu-title {{open ? '' : 'none'}}" >{{loading ? 'LogOut' : ''}}</div>
    </div>
</div>
