.cont {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 231, 187);
    padding: 5px;
    border-radius: 5px;
}

.left {
    margin-left: 10px;
}