.cont {
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#fileInp {
    display: none;
}


.icon {
    width: 48px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, 0);
    cursor: pointer;
}

.label:hover {
    box-shadow: 0 0 15px grey;
}

.label {
    border-radius: 100%;
    position: relative;
    cursor: pointer;
}

.label:active {
    box-shadow: 0 0 15px grey;
}

.ava {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    filter: brightness(0.4);
}

.ava2 {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.ava3 {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.dispRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.none {
    display: none;
}

.dispCol {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.left {
    margin-left: 10px;
}

.avaItem {
    width: 150px;
    margin: 10px;
    transition: 0.3s;
    border-radius: 100%;
}

.avaItem:hover {
    box-shadow: 0 0 15px orange;
    border-radius: 100%;
    transition: 0.3s;
}

.avatarsBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.arrow {
    width: 50px;
    margin: 10px;
}

.confirm {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.confirm:hover {
    box-shadow: 0 0 15px greenyellow;
    border-radius: 100%;
}

.animation {
    animation: 0.3s ar;
}

@keyframes ar {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.start {
    display: flex;
    flex-direction: column;

}

.item {
    height: 30px;
    margin: 5px;
}

.inp {
    margin: 5px;
}

#male {
    margin-right: 5px;
}

#female {
    margin-right: 5px;
    margin-left: 20px;
}

.opacity {
    opacity: 0;
}

.red {
    color: red
}