<div class="cont">
    <div class="spinner-border text-warning {{!loading ? '' : 'none'}} animation" role="status">
        <span class="visually-hidden top">Loading...</span>
    </div>
    <div *ngIf="!avatarsActive" class="{{!loading ? 'none' : ''}} animation">
        <div class="dispRow">
            <div (click)="toggle()" class="label">
                <img class="ava"  [src]="user.img ? user.img : user.sex ? 'https://cdn-icons-png.flaticon.com/512/6011/6011702.png' : 'https://cdn-icons-png.flaticon.com/512/9307/9307808.png'" />                 
                <img class="icon" src="https://cdn-icons-png.flaticon.com/512/9220/9220671.png">
                <!-- <input (change)="getFile($event)" id="fileInp" type="file"> -->
            </div>
            <!-- <div class="dispCol left">
                <img class="ava2 {{image ? '' : 'none'}}" src="{{image}}">
                <img class="ava3 {{image ? '' : 'none'}}" src="{{image}}">
            </div> -->
            <div *ngIf="newAva != ''">
                <img class="arrow" src="https://cdn-icons-png.flaticon.com/512/664/664866.png">
                <img class="ava" src="{{newAva}}">
                <img (click)="editAva()" class="arrow confirm" src="https://cdn-icons-png.flaticon.com/512/190/190411.png">
            </div>
        </div>
        <br>
        <div class="flexRow">
            <div class="end">
                <div class="item">Name:</div>
                <div class="item">Description:</div>
                <div class="item">Sex:</div>
            </div>
            <div class="start">
                <input class="inp" maxlength="10" [(ngModel)]="newFullname" placeholder="{{user.fullName}}">
                <input class="inp" maxlength="18" [(ngModel)]="newDescription" placeholder="{{user.description}}">
                <select [(ngModel)]="newSex" class="inp">
                    <option value="true">Male</option>
                    <option value="false">Female</option>
                </select>
            </div>
            <div class="start">
                <img (click)="editFullname()" class="arrow confirm {{newFullname.length >= 5 ? '' : 'opacity'}}" src="https://cdn-icons-png.flaticon.com/512/190/190411.png">
                <img (click)="editDescr()" class="arrow confirm {{newDescription.length >= 1 ? '' : 'opacity'}}" src="https://cdn-icons-png.flaticon.com/512/190/190411.png">
                <img (click)="editSex()" class="arrow confirm {{newSex !== user.sex ? '' : 'opacity'}}" src="https://cdn-icons-png.flaticon.com/512/190/190411.png">
            </div>
        </div>
    </div>
    <div *ngIf="avatarsActive" class="avatarsBlock animation">
        <div (click)="toggle()" *ngFor="let item of avatarsArray">
            <img (click)="confirmNewAva(item.src)" class="avaItem" src="{{item.src}}">
        </div>
    </div>
</div>