<div class="mobile">
        <img routerLink="" class="menu-icon"  [src]="user.img ? user.img : user.sex ? 'https://cdn-icons-png.flaticon.com/512/6011/6011702.png' : 'https://cdn-icons-png.flaticon.com/512/9307/9307808.png'" />                 
        <img routerLink="news" class="menu-icon" src="https://cdn-icons-png.flaticon.com/512/432/432539.png">
        <img routerLink="friends" class="menu-icon" src="https://cdn-icons-png.flaticon.com/512/432/432428.png">
        <img routerLink="events" class="menu-icon" src="https://cdn-icons-png.flaticon.com/512/432/432398.png">
        <img (click)="logOut()" class="menu-icon" src="https://cdn-icons-png.flaticon.com/512/505/505027.png">
</div>
