.asd {
    position: relative;
    width: 100%;
}

.none {
    display: none;
}

.flex {
    display: flex;
}

.cont {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.topBlock {
    padding: 10px;
    position: relative;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
}

.descriptionCheck {
    margin-top: 40px;
}

.userTitle {
    color: orange;
    margin: 10px;
    margin-top: 10px;
}

.ava {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.col {
    display: flex;
    flex-direction: row;
}

.blue {
    color:deepskyblue;
    position: relative;
    top: -15px;
}

.orange {
    background: orange;
    border: none;
    margin-left: 10px;
}

.userInfo {
    padding: 10px;
    border-radius: 10px;
}

.friends {
    color: orange; 
}

.postBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
    border: 1px solid orange;
    border-radius: 5px;
    margin-top: 10px;
}

#fileInp {
    display: none;
}

.icon {
    width: 48px;
    margin-top: 10px;
    border-radius: 100%;
}

.icon:active {
    box-shadow: 0 0 5px green;
}

.textarea {
    width: 300px;
    height: 100px;
    border: none;
    resize: none;
    border-radius: 10px;
    color: orange
}

.textarea:focus {
    outline: none;
    border: none;
}

.inpRight {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.btnPost {
    border: none;
    padding: 5px 10px;
    background-color: deepskyblue;
    color: white;
    border-radius: 10px;
}

.btnPost:hover{
    box-shadow: 0 0 10px deepskyblue ;
}

.btnPost:active {
    background-color: white;
    color: deepskyblue
}

.postImg {
    max-width: 400px;
    min-width: 50px;
}

.postsBlock {
    padding: 10px;
    background: rgb(255, 205, 112);
    color: white;
    margin: 10px;
    flex-direction: column;
    width: 400px;
    transition: 0.3s;
}



.postAva {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.end {
    justify-content: space-between;
}

.postFullName {
    font-size: 20px;
    margin-left: 10px;
}

.column {
    display: flex;
    flex-direction: column;
}

.trash {
    width: 24px; 
    height: 24px;
    display: none;
    cursor: pointer;
}

.postsBlock:hover {
    box-shadow: 0 0 10px orange;
    transition: 0.3s;
}

.postsBlock:hover .trash {
    display: block;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    position: fixed;
    left: 40px;
    bottom: -100px;
    padding: 10px;
    background: orange;
    color: white;
    box-shadow: -10px 10px rgb(228, 191, 123);
}

@keyframes ar {
    0% {
        bottom: -100px;
    }
    30% {
        bottom: 40px;
    }

    80% {
        bottom: 40px;
    }

    100% {
        bottom: -40px;
    }
}

.disappear {
    animation: 3s ar;
}

.relative {
    position: relative;
}

.description {
    position: absolute;
    top: 0;
    right: -50px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
}

.description::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -15px;
    width: 0;
    height: 0;
    border-bottom: 15px solid white;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0;
}

.friendBlock {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
    background-color: orange;
    color: white;
    border-radius: 10px;
}